rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "REPLACE_WITH_ADMIN_UID";
    }

    // Public read products
    match /products/{productId} {
      allow read: if true;

      // Allow anyone to increment "views" only.
      allow update: if request.resource.data.diff(resource.data).changedKeys().hasOnly(['views'])
        && request.resource.data.views is number
        // allow if old views missing OR new >= old
        && ( !('views' in resource.data) || request.resource.data.views >= resource.data.views );

      // Admin can do everything else.
      allow write: if isAdmin();
    }
  }
}

